.LoginForm {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  margin: auto;
}

.LoginForm-forgotPasswordLink {
  align-self: center;
}

.LoginForm-SubmitButton {
  align-self: center;
}

.Form-heading {
  display: flex;
}

.Form-delete {
  margin-left: auto;
  display: block;
}
