.index-container {
  width: 98vw;
  margin: auto;
  height: 90vh;
}

.index-content-header {
  display: flex;
  flex-flow: column;
  height: 7%;
}

.index-content {
  display: flex;
  flex-flow: column;
  height: 80%;
}
