.searchField-container {
  margin: 2em auto 1em auto;
  padding: 1em;
  display: flex;
}

.searchField-input {
  display: flex;
  flex-flow: row;
  margin: auto;
  width: 100%;
}

.searchField-input {
  display: flex;
  flex-flow: row;
  margin: auto;
  width: 100%;
}

.searchField-button {
  flex-flow: row;
  display: inline-flex;
  margin: 0em 1em;
}

.searchBox-container {
  margin: auto;
  width: 98vw;
}

.filters {
  cursor: pointer;
  font-size: 3em;
  margin-left: auto;
}
